.Nav {
  background-color: black;
  padding: 15px;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
}
.Nav a {
  color:rgb(14, 110, 78);
  text-decoration: none;
}
#nav{
  position: fixed;
  top:0;
  left: 0;
  margin: auto;
  width: 100%;
}
  

.text{
color:rgb(194, 216, 194);
font-size: 50px;
font-style:italic;
text-align: center;
}
.img
{
  width:100%;
  padding-left: 30px;
  height:90%;
}
.container{
  box-sizing: border-box;
  background-color: aquamarine;
}
.imgSer{
  height:500px;
  width:100%;
}
.chartext{
  color: white;
  font-style: oblique;
}
 .imgchar1{
  height:200px;
  width:200px;
  margin:15px;
 
 }
 body{
  background-color:black;
  height:100%;
 }
 .container1{
  display:flex;
  place-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
 }
 
 .imgser1{
  height: 400px;
  width:400px;
 
 }
 .setit{
  color:rgb(122, 17, 17);
  font-size: xx-large;
 }
 .year{
  
  color:rgb(170, 132, 28);
 }
 .stories{
  color:aliceblue;
 }
 
 .text2{
  color:rgb(14, 110, 78);
  font-size: 50px;
  font-style:italic;
  text-align: center;
 }
 #ser1{
  background-color:black;
  width:auto;
  height:auto;
  padding-left: 20px;
 }
 #ser2{
  background-color:black;
  width:auto;
  height:flex;
  border:80px;
  padding-right: 20px;

 }
 .storyname{
  color:rgb(71, 115, 155);
  
 }

 
 .containerser{
  display:flex;
  justify-content: space-between;
  margin:50px;
  
 }
 #stories{
  color:rgb(144, 65, 156)
  
 }
 #comics{
  color:rgb(170, 204, 32)
  
 }

 .footer{
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  color:aliceblue;
  text-align: right;
  padding-right: 50px;
  padding-bottom: 100px;
 }
