.Nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 121, 121);
  padding: 15px;
  font-size: 2em;
}
.Nav a {
  color:rgb(59, 31, 31);
  text-decoration: none;
  
}
.text{
color:rgb(2, 16, 2);
font-size: 50px;
font-style:italic;
text-align: center;
}
.img
{
  width:100%;
}
.container{
  box-sizing: border-box;
  background-color: aquamarine;
}
.imgSer{
  height:500px;
  width:100%;
}
.chartext{
  color: brown;
  font-style: oblique;
}
 .imgchar1{
  height:200px;
  width:200px;
 
 }
 body{
  background-color:rgb(47, 131, 131)
 }
 .container1{
  display:flex;
  place-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
 }
 
 .imgser1{
  height: 300px;
  width:300px;
 
 }
 .setit{
  color:red;
  font-size: xx-large;
 }
 .year{
  
  color:aliceblue;
 }
 .stories{
  color:aliceblue;
 }
 .storyname{
  color:aliceblue;
 }
 .text2{
  color:rgb(2, 16, 2);
  font-size: 50px;
  font-style:italic;
  text-align: center;
 }